<%- include('/Users/renishaensalaita/Desktop/ChrisMOM-ChrisCHILD/partials/header.ejs') %>

<style>
  body {
    background-image: url("/Users/renishaensalaita/Desktop/ChrisMOM-ChrisCHILD/public/css/fam.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">ChrisMOM & ChrisCHILD</h1>
    <p class="lead">A family christmas game - The Gnanaraj Fam</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('/Users/renishaensalaita/Desktop/ChrisMOM-ChrisCHILD/partials/footer.ejs') %>