<%- include('partials/header.ejs') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3 h1">ChrisMOM & ChrisCHILD</h1>
    <p class="lead">A family christmas game - The Gnanaraj Fam</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer.ejs') %>