<%- include('partials/header.ejs') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Name</label>
              <select name="username" class="form-control">
                <option value="">Select your name</option>
  <option value="Mary">Mary</option>
  <option value="Chris">Chris</option>
  <option value="David">David</option>
  <option value="Evan">Evan</option>
  <option value="Vasanthi">Vasanthi</option>
  <option value="Hepzhi">Hepzhi</option>
  <option value="Robin">Robin</option>
  <option value="Jenny">Jenny</option>
  <option value="Vino">Vino</option>
  <option value="Gladys">Gladys</option>
  <option value="Jess">Jess</option>
  <option value="Jeno">Jeno</option>
  <option value="Joe">Joe</option>
  <option value="Jeff">Jeff</option>
  <option value="Renisha">Renisha</option>

</select>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Give password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer.ejs') %>
