<%- include('/Users/renishaensalaita/Desktop/ChrisMOM-ChrisCHILD/partials/header.ejs') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Your ChrisChild is ...</h1>
      <p class="secret-text"><%= childName ? childName : "Waiting for Admin to generate..." %></p>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <% if (user && user.email === "Renisha") { %>
  <a href="/admin" class="btn btn-dark btn-lg">Admin Page</a>
<% } %>
    </div>
  </div>

<%- include('/Users/renishaensalaita/Desktop/ChrisMOM-ChrisCHILD/partials/footer.ejs') %>